.xlv-frame,
.xlv-button,
.xlv-wide-box,
.xlv-status {
	font-family: Bitter !important;
}

.xlv-controls-row {
	text-align: center;
}

.xlv-grid-parent {
	border: black solid 2px;
}

.xlv-answer {
	font-size: 14px;
	background-image: repeating-linear-gradient(to bottom, white, white 17px, black 18px);
}

.crossed-out {
	text-decoration: line-through;
}

.show {
	display: visible!;
}

.xlv-grid {
	position: relative;
	margin-bottom: -4px;
}

#exolve1 {
	margin-bottom: 50px
}

div.xlv-clues-box table > tr:last-child > td {
	padding: 4px 6px 4px 0;
}

.xlv-blue-plus-yellow-bg {
	text-decoration-color: #3eb0ff;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
    text-decoration-skip-ink: none;
	background-color: yellow;
}

@media screen and (max-width: 500px) {
	.xlv-clues-box, .xlv-answer, #exolve1, .xlv-grid-and-clues-flex, .xlv-grid-panel {
		width: 100% !important;
	}
	.xlv-grid-parent-centerer {
		overflow-x: scroll;
	}
}