.xlv-frame,
.xlv-button,
.xlv-wide-box,
.xlv-status {
	font-family: Bitter !important;
}

.xlv-controls-row {
	text-align: center;
}

.xlv-answer {
	font-size: 14px;
	background-image: repeating-linear-gradient(to bottom, white, white 17px, black 18px);
}

.crossed-out {
	text-decoration: line-through;
}

.xlv-grid {
	position: relative;
}

@media screen and (max-width: 500px) {
	.xlv-clues-box, .xlv-answer, #exolve1, .xlv-grid-and-clues-flex, .xlv-grid-panel {
		width: 100% !important;
	}
	.xlv-grid-parent-centerer {
		overflow-x: scroll;
	}
}