#main-table {
	overflow-x: scroll;
    display: block;
}

#main-table td, #answer-table td {
    min-width: 162px;
    background: lightgray;
    text-align: center;
    font-family: monospace;
    font-size: x-large;
	position: relative;
	height: 39px;
}

#answer-table td {
    min-width: 162px;
}

#answer-table input {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 100%;
    padding: 0;
    border: 0;
    background: none;
    text-align: center;
    font-size: x-large;
    font-family: monospace;
    text-transform: uppercase;
}