#grid-table, #answer-table {
	overflow-x: auto;
    display: block;
}

#grid-div, #answer-div, #final-div {
	margin-bottom: 20px;
}

.nice-grid td {
    min-width: 162px;
    background: lightgray;
    text-align: center;
    font-family: monospace;
    font-size: x-large;
	position: relative;
	height: 39px;
}

#answer-table td {
    min-width: 162px;
}

.nice-grid input {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 100%;
    padding: 0;
    border: 0;
    background: none;
    text-align: center;
    font-size: x-large;
    font-family: monospace;
    text-transform: uppercase;
}

#hints {
	display: none;
}

#hintsrow {
	position: sticky;
  top: 0;
}

#hintsrow td {
	font-size: large;

}

.hint-selected {
	background: silver !important;
}

button.hint-button {
	width: 80%;
	font-size: large;
    font-family: monospace;
}